<div class="flex flex-col justify-start items-start h-screen gap-4 h-screen sticky">
  <div class="flex flex-col justify-start items-start flex-grow w-[280px] bg-[#f8f8fa] border-t-0 border-r border-b-0 border-l-0 border-[#c2c9d0]">
    <div class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-1 px-4 py-5">
      <div class="flex justify-start items-center flex-grow relative gap-2">
        <%= image_tag 'icon.svg' %>
        <p class="flex-grow-0 flex-shrink-0 text-base font-medium text-left text-[#10151b]">
          Add-On Name
        </p>
      </div>
    </div>
    <div class="flex flex-col justify-start items-start self-stretch flex-grow ">
      <div class="flex flex-col justify-start items-start self-stretch flex-grow gap-4 px-4 py-2 ">
        <div class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-3">
          <% if @active_tab == 'Dashboard' %>
            <%= link_to dashboard_path, 'Dashboard', class: "flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 nav rounded-lg dash-active bg-white border border-[#10151b]/[0.06]", style: "box-shadow: 0px 4px 8px 0 rgba(16,21,27,0.05), 0px 1px 3px 0 rgba(16,21,27,0.05);"%>
          <% else %>
            <a href="/dashboard"
              class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 nav rounded-lg">
          <% end %>
            <div class="flex justify-start items-center self-stretch flex-grow relative overflow-hidden gap-2 px-2 py-1 rounded-lg">
              <div class="dashboard-icon">
                <%= image_tag 'dashboard_icon.svg' %>
              </div>
              <% if @active_tab == 'Dashboard' %>
                <p class="flex-grow w-[200px] text-sm font-medium text-left text-[#10151b]">
              <% else %>
                <p class="flex-grow w-[200px] text-sm font-medium text-left text-[#58626d]">
              <% end %>
                Dashboard
              </p>
            </div>
          </a>
          <a class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 cursor-pointer nav rounded-lg" href="https://www.quicknode.com/docs/bitcoin/bb_getaddress" target="_blank">
            <div class="flex justify-start items-center self-stretch flex-grow relative gap-2 px-2 py-1 rounded-tl-lg rounded-bl-lg">
              <div class="doc-icon">
                <%= image_tag 'documentation_icon.svg' %>
              </div>
              <p class="flex-grow w-[200px] text-sm font-medium text-left text-[#58626d]">
                Documentation
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4 p-4">
        <div class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2">
          <% if session[:name] %>
            <div class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0">
              <div class="flex justify-start items-center flex-grow relative gap-2 px-2 py-1 rounded-tl-lg rounded-bl-lg">
                <%= image_tag 'person_icon.svg' %>

                <p class="flex-grow w-[200px] text-sm text-left text-[#10151b]"><%= session[:name] %></p>
              </div>
            </div>
          <% end %>
          <% if session[:organization_name] %>
            <div class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0">
              <div class="flex justify-start items-center flex-grow relative gap-2 px-2 py-1 rounded-tl-lg rounded-bl-lg">
                <%= image_tag 'company_icon.svg' %>
                <p class="flex-grow w-[200px] text-sm text-left text-[#10151b]"><%= session[:organization_name] %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2 pl-2 pr-1 py-2 rounded-lg bg-[#f8f8fa] border border-[#10151b]/[0.12]">
          <a class="flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-2" href="https://dashboard.quicknode.com" target="_blank">
            <%= image_tag 'quiknode_icon.svg' %>
            <p class="flex-grow w-[204px] text-sm text-left text-[#10151b]">Switch to Quicknode.com</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var elements = document.getElementsByClassName("nav");

  Array.from(elements).forEach(function(element) {
    // Check if the element is one of the active tabs
    var isActiveTab = element.classList.contains("dash-active") || element.classList.contains("requests-active");

    element.addEventListener("mouseover", function() {
        if (!isActiveTab) {
            this.classList.add("border", "border-[#10151b]/[0.06]");
            this.style.boxShadow = "0px 4px 8px 0 rgba(16,21,27,0.05), 0px 1px 3px 0 rgba(16,21,27,0.05)";
            var svgPaths = this.querySelectorAll(".dashboard-icon path, .requests-icon path, .doc-icon path");
            svgPaths.forEach(function(path) {
                path.style.fill = "#009FD1";
            });
        }
    });

    element.addEventListener("mouseout", function() {
        if (!isActiveTab) {
            this.classList.remove("border", "border-[#10151b]/[0.06]");
            this.style.boxShadow = "";
            var svgPaths = this.querySelectorAll(".dashboard-icon path, .requests-icon path, .doc-icon path");
            svgPaths.forEach(function(path) {
                path.style.fill = "#8C96A0";
            });
        }
    });
  });
})
</script>
<style>
  .dash-active .dashboard-icon path {
    fill: #009FD1;
  }
  .requests-active .requests-icon path {
    fill: #009FD1;
  }
</style>
